/* Navbar base */
.navbar {
  transition: all 0.3s ease;
  padding: 0.7rem 1rem;
  height: 10vh;
  z-index: 1000;

  background: rgba(17, 17, 17, 0.6);   /* semi-transparent dark */
  backdrop-filter: blur(10px);         /* glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Brand */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
 color:red;
  letter-spacing: 0.5px;
}
#airbnb :hover{
  color:red;
}

/* Links */
.nav-link {
  margin-right: 0.8rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #f8f9fa !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00c853 !important;
}

/* Auth links */
.auth-links {
  display: flex;
  gap: 1rem;
}

.auth-link {
  color: #f8f9fa;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.auth-link:hover {
  color: #00c853;
}

/* Scroll effect */
.navbar.scrolled {
  background: rgba(17, 17, 17, 0.85) !important; /* darker when scrolled */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Mobile spacing fix */
@media (max-width: 992px) {
  .auth-links {
    margin-top: 1rem;
  }
}

.circle-img {
  width: 90px;
  height: 90px;
  border-radius: 59%;
  object-fit: cover;
}
